* {
	padding: 0px;
	margin: 0px;
	font-family: poppins;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  figure {
    margin: 0;
    position: relative;
  }
  figure h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    border-right: 3px solid #fff;
    padding: 5px 10px 5px 5px;
  }
   h1, h2, h3, h4, h5, p {
     color: #1f1f1f;
   }
  video {
    width: 100%;
    max-width: 100%;
    height: 100vh;
  }
.content {
    position: fixed;
    top: 60%;
    color: #f1f1f1;
    width: 100%;
    display: grid;
    overflow-x: hidden;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
.container video {
    height: auto;
    width: 100%;
}
.topgrid {
    color: white;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 95%;
    border-bottom: 1px white solid;
}
.porto-title {
	text-align: right;
  color: #f1f1f1;
}
.namehero {
	font-size: 75px;
    text-align: left;
}
/*content below my name text align*/
body > div.content > div.bottom-hero-content > p:nth-child(1) {
    text-align: left;
}
.porto-title {
	padding-top: 40px;
    font-size: 40px;
}
.bottom-hero-content {
	display: grid;
    grid-template-columns: 34% 11% 25%;
    grid-gap: 15%;
    width: 95%;
	border-bottom: 1px solid white;
	padding: 1em 0;
}
.bottom-hero-content p {
  color: #f1f1f1;
}
.third-text-box {
	text-align: right;
}
.sub-projects-grid {
	display: grid;
    grid-template-columns: 10% 10% 10%;
    grid-gap: 5%;
}
.sub-projects-wrapper h4 {
	margin-bottom: 1em;
}
.sub-projects-wrapper ul {
	list-style: none;
}
.projects-container {
	width: 95%;
	margin: 0 auto;
}

.projects-title h1{
font-size: 80px;
margin: 0em 0em 0.5em 0em;
}
.project-bar {
	display: grid;
    grid-template-columns: 50% 50%;
    font-size: 30px;
    border-bottom: 1px #1f1f1f solid;
    padding: 0.15em 0;
}

.main-projects a {
	text-decoration: none;
    color: #1f1f1f;
	z-index: 20;
	position: relative;
}
.twoer {
	text-align: right;
  font-weight: 200;
}
.main-projects h3 {
    font-size: 3em;
	margin: 1em 0;
}

/*parallax CSS*/

.stretch {
    background: #f1f1f1;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    margin-top: 800px;
  }
  
  .hero-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -9999;
    background: #000;
  }
  .lastname {
      margin-left: 0.25em;
  }

  .heading-title {
      font-weight: 900;
      color: #f1f1f1;
  }

  .contact-container {
      margin-top: 4em;
  }

  .contact-container h3 {
      font-size: 3em;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
    margin: 2em 0;
  }
  .contact-inner {
    display: grid;
    grid-template-columns: 50% 50%; 
    padding: 1em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .icon-title {
    display: grid;
    grid-template-columns: 15% 85%;
  }

  .text-right {
      text-align: right;
      position: relative;
      z-index: 1000;
  }

  .dwnld-link {
    color: #1f1f1f;
  }
  
  .project-bar:hover {
    color: #f1f1f1;
    background: #4e8cca;
  }

  .exp h3 {
    margin: 1em 0 0 0;
  }
  .exp p {
    margin: 0 0 3em 0;
  }

  @media only screen and (max-width: 1571px) {
    .bottom-hero-content {
      grid-template-columns: 33% 13% 24%;
    }
  }

  @media only screen and (max-width: 1560px) {
    .sub-projects-grid {
      grid-template-columns: 10% 10% 20%;
    }
  }

  @media only screen and (max-width: 1351px) {
    .topgrid {
      grid-template-columns: 70% 30%;
    }
  }

  @media only screen and (max-width: 1329px) {
    .bottom-hero-content {
      grid-template-columns: 33% 15% 24%;
      grid-gap: 14%;
    }
  }

  @media only screen and (max-width: 1292px) {
    .sub-projects-grid {
      grid-template-columns: 13% 13% 20%;
    }
  }

  @media only screen and (max-width: 1221px) {
    .project-bar span {
      font-size: 25px;
    }
    .main-projects h3 {
      margin: 0.5em 0 0.5em 0;
    }
  }

  @media only screen and (max-width: 1152px) {
    .bottom-hero-content {
      grid-template-columns: 33% 17% 24%;
      grid-gap: 13%;
    }
    .contact-container {
      margin-top: 2em;
    }
    .contact-inner {
      grid-template-columns: 40% 60%;
    }
    .icon-title {
      grid-template-columns: 25% 75%;
    }
  }

  @media only screen and (max-width: 1050px) {
     .contact-grid{
      display: block;
    }
  }

  @media only screen and (max-width: 1017px) {
    .bottom-hero-content {
      grid-template-columns: 33% 19% 24%;
      grid-gap: 12%;
    }
    .project-bar {
      grid-template-columns: 60% 40%;
    }
  }
@media only screen and (max-width: 994px) {
  .sub-projects-grid {
    grid-template-columns: 15% 15% 20%;
  }
}

@media only screen and (max-width: 924px) {
  .heading-title {
    font-size: 40px;
  }
}

  @media only screen and (max-width: 909px) {
    .bottom-hero-content {
      grid-template-columns: 40% 40%;
      grid-gap: 20%;
    }
    body > div.content > div.bottom-hero-content > p:nth-child(2) {
      display: none;
    }
    .topgrid {
      grid-template-columns: 60% 40%;
    }
  }

  @media only screen and (max-width: 861px) {
    .sub-projects-grid {
      grid-template-columns: 20% 15% 33%;
    }
  }

  @media only screen and (max-width: 848px) {
    .project-bar {
      grid-template-columns: 65% 35%;
    }
    .project-bar span {
      font-size: 22px;
    }
  }

  @media only screen and (max-width: 757px) {
    .twoer {
      display: none;
    }
    .project-bar {
      display: block;
    }
  }

  @media only screen and (max-width: 731px) {
.porto-title {
  display: none;
}
.third-text-box {
  display: none;
}
.bottom-hero-content {
display: block;
  }
  .topgrid {
    display: block;
  }
  .aphex {
    display: none;
  }
}

@media only screen and (max-width: 647px) {
  .sub-projects-grid {
    grid-template-columns: 25% 20% 33%;
  }
}

@media only screen and (max-width: 516px) {
  .sub-projects-grid {
    grid-template-columns: 33% 20% 33%;
  }
}

@media only screen and (max-width: 476px) {
  .sub-projects-grid {
    grid-gap: 3%;
  }
}

@media only screen and (max-width: 447px) {
  .project-bar span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 436px) {
  .sub-projects-grid {
    grid-gap: 3%;
  }
}

@media only screen and (max-width: 430px) {
.heading-title {
  font-size: 23px;
}
}
 