.video-background {
    position: relative;
    width: 100%;
}
 body, html {
     overflow-x: unset !important;
     overflow: unset !important;
 }     
#bgvid {
    width: 100%;
}
.worktype-content {
    width: 90%;
    margin: 0 auto;
}
.worktype-content h2 {
    font-family: 'Questrial', sans-serif;
    color: #F1F1F1;
    font-size: 50px;
    font-weight: 900;
    margin: 0.5em auto;
}
.worktype-content p {
    color: #f1f1f1;
}

.worktype-grid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 48.5% 48.5%;
    width: 90%;
    margin: 3em auto;
    grid-gap: 30px;
}

.worktype-card {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 100%;
    align-items: center;
    background: #f1f1f1;
    border-radius: 20px;
    box-shadow: inset 20px 20px 60px #cdcdcd, inset -20px -20px 60px #ffffff;
    grid-gap: 3em;
}

.worktype-img img {
    border-radius: 20px 20px 20px 20px;
    margin-left: 0.5em;
}

.worktype-card-content {
    display: grid;
    align-items: center;
    grid-template-rows: 20% 50% 30%;
}

.worktype-button a {
    text-align: center;
    text-decoration: none;
    color: #F1F1F1;
    padding: 0.5em 3EM;
    background: #161616;
    border-radius: 50px;
    font-family: 'Orbitron', sans-serif;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px );
}

.worktype-img {
    background-image: url('images/work/WebWorkIMg.jpg');
}

@media only screen and (max-width: 10000px) {
    .Mobile-Video {
      display: none;
    }
  }
  @media only screen and (max-width: 1500px) {
    .worktype-card {
        grid-gap: 6em;
        grid-template-columns: 40% 40%;
    }
}

@media only screen and (max-width: 1420px) {
    .worktype-button a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1275px) {
    .worktype-card {
        grid-gap: 9em;
        grid-template-columns: 35% 35%;
    }
}

@media only screen and (max-width: 1220px) {
    .worktype-grid {
        grid-template-rows: 420px 420px;
    }
    .worktype-card {
        justify-items: center;
        grid-template-rows: 260px 150px;
        grid-gap: 0em;
        grid-template-columns: 100%;
    }
    .worktype-img img {
        width: 95%;
        margin: 0 auto;
        display: block;
    }
    .worktype-card-content{
        width: 100%;
        justify-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 750px) {
    .Mobile-Video {
        display: block;
    }
    .Desktop-Video {
        display: none;
    }
    .worktype-grid {
    grid-template-columns: 100%;
    }
    .worktype-card-content p {
        padding: 0em 1em;
    }
}