* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

p {
    line-height: 1.8;
    margin-bottom: 1.8rem;
    color: #f1f1f1;
    font-family: 'Questrial', sans-serif;
}

h3 {
    font-size: 2.5em;
    color: #f1f1f1;
}

a {
    color: #f1f1f1;
    font-family: "Monument Extended" !important;
}

.container {
    width: 80%;
    display: block;
    margin: 7em auto;
}

.intro-grid {
    display: grid;
    grid-template-columns: 50%;
}

.intro-content {
    color: #f1f1f1;
}

.intro-content h2 {
    font-size: 3.2em;
    margin: 1.5rem 0px 1.5rem 0px;
}

.video-grid {
    margin: 8em 0em;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    grid-gap: 4em;
}
.video-content span {
    font-size: 12px;
    font-family: 'Questrial', sans-serif;
}
@media only screen and (max-width: 1275px) {
    .video-grid {
        grid-template-columns: 100%;
    }
    .gridfixer {
        grid-row-start: 2;
    }
}