html,body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background: #1f1f1f;
        overflow: hidden;
      }

      .block {
        position: relative;
        width: 580px;
        height: 460px;
        margin: 10px 300px 20px 80px;
      }

      h1 {
        position: absolute;
        font-family: "Monument Extended";
        font-weight: lighter;
        font-size: 64px;
      }

      p {
        position: absolute;
      }
      .block-1 {
        background: url(../images/Wyoming09.png) no-repeat 50% 50%;
        background-size: cover;
        background-color: aqua;
      }

      .block-2 {
        background: url(../images/Wyoming09.png) no-repeat 50% 50%;
        background-size: cover;
        background-color: aqua;
      }

      .block-3 {
        background: url(../images/Wyoming09.png) no-repeat 50% 50%;
        background-size: cover;
        background-color: aqua;
      }

      .block-4 {
        background: url(../images/Wyoming09.png) no-repeat 50% 50%;
        background-size: cover;
        background-color: aqua;
      }

      .block-5 {
        background: url(../images/Wyoming09.png) no-repeat 50% 50%;
        background-size: cover;
        background-color: aqua;
      }

      .container {
        margin-top: 200px;
        margin-left: 200px;
      }

      .block-1 h1,
      .block-3 h1,
      .block-5 h1 {
        bottom: 0;
        right: -60px;
      }

      .block-4 h1 {
        right: -60px;
      }

      .block-1 p {
        bottom: 0;
        left: -210px;
      }

      .WWW-Content {
        position: absolute;
        right: -150px;
      }

      .block-2 h3 {
        left: 20px;
      }

      .block-3 p {
        bottom: 0;
        left: 290px;
      }

      .block-5 p {
        bottom: 0;
        left: -210px;
      }